.searchInput{
    width: 100px;
}
.searchButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.client{
    margin-top: 80px;
}
.my-custom-size{
    width: 100px;
    height: 100px;
    
}