.container{
    text-align: center;
}

form{
    background-color: rgb(185, 168, 168);
    width: 500px;
    display:  flexbox;
    border-radius: 20px;
}

input{

    width: 200px;
}

// #email{
//     width:  350px;
//     text-align: left;
// }
