.loginfrom{
   // background-color: lightblue;
    width: 500px;
    height: 250px;
    position:absolute;
    top: 10%;
    left: 15%;
    
}

.btn{
    background-color: lightblue;
    padding: 5px;
    font-size: 15px;
}

.forgetpassword{
    font-size: 11px;
    margin: 4px;
}
input{
    width:250px;
    margin: 10px;
}

